# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql 데이터베이스 주소"

PORT="포트번호"

NODE_ENV="노드 환경"

ACCESS_TOKEN_SECRET_KEY="AccessToken 시크릿 키"
REFRESH_TOKEN_SECRET_KEY="RefreshToken 시크릿 키"